{{ form_start(form, {'attr': {'class': 'relative flex gap-6 flex-col max-w-lg w-full bg-white border border-gray-500 shadow rounded-lg overflow-hidden p-8'}}) }}
    {% if form_errors(form) %}
        <div>
            <p class="text-md text-gray-700">Generic error(s)</p>
            <div class="text-sm text-red-500">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
    <div class="relative flex flex-col gap-5">
        <div class="flex flex-col gap-0.5">
            {{ form_label(form.name, 'Name <span class="text-red-500">*</span>', {'label_attr': {'class': 'block text-md font-medium text-gray-700'}, 'label_html': true}) }}
            {{ form_widget(form.name, {'attr': {'class': 'block w-full h-8 border border-gray-300 rounded-lg shadow focus:ring-gray-500 focus:border-gray-300 sm:text-sm px-2'}}) }}
            <div class="text-sm text-red-500">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="flex flex-col gap-0.5">
            {{ form_label(form.logo, 'Logo', {'label_attr': {'class': 'block text-md font-medium text-gray-700'}, 'label_html': true}) }}
            {{ form_widget(form.logo, {'attr': {'class': 'block w-full h-8 border border-gray-300 rounded-lg shadow focus:ring-gray-500 focus:border-gray-300 sm:text-sm px-2'}}) }}
            <div class="text-sm text-red-500">
                {{ form_errors(form.logo) }}
            </div>
        </div>
        <div class="mt-2 flex flex-row gap-4">
            <button type="submit" class="py-2 px-4 max-w-xl w-full border border-gray-700 shadow text-sm font-medium rounded-lg text-gray-700 bg-white hover:text-white hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white z-20 transition-all duration-300">{{ button_label|default('Save') }}</button>
        </div>
    </div>
{{ form_end(form) }}